.deck {
    display: grid;
    justify-content: center;
}

.deck h2 {
    width: 100%;
    text-align: center;
}

.deck h3 {
    text-align: center;
    font-size: 32px;
}

.deck ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 85%;
}

.deck li {
    font-size: 20px;
    margin: 10px;
}

.heart, .diamond {
    color: red;
}

.spade, .club {
    color: black;
}