.game-home {
    display: grid;
    justify-content: center;
}

.game-home h2 {
    text-align: center;
    grid-column: span 2;
    justify-self: center
}

.game-rules {
    grid-column: span 2;
    justify-self: center
}

.game-home a {
    font-size: 24px;
}

.game-home p {
    text-align: center;
}

.doc {
    margin-bottom: 80px;
}

.doc p {
    width: 60%;
}

.game {
    display: grid;
    justify-content: center;
}

.game h2 {
    text-align: center;
    grid-column: span 2;
}

.game form {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
}

.game .heart, 
.game .diamond,
.game .spade,
.game .club{
    text-align: center;
    margin: 10px;
    padding-top: 15px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 1px solid black;
}

.game .player {
    display: grid;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}

.game .player h3 {
    grid-column: span 1;
}

.game .cards {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}

.game .points {
    display: flex;
    justify-content: space-evenly;
    height: 45px;
}

.result {
    display: grid;
    position: fixed;
    top: 65%;
    left: calc(50% - 175px);
    background-color: yellow;
    height: 150px;
    width: 350px;
}

.result input {
    margin-bottom: 10px;
}

.game h3 {
    text-align: center;
    grid-column: span 2;
}
