.library-home {
    display: grid;
    justify-content: center;
}

.library-home h2 {
    text-align: center;
    grid-column: span 2;
    justify-self: center
}

.library-home a {
    font-size: 24px;
}

.library-home p {
    margin: 24px 20px;
}

.library-books {
    display: grid;
    justify-content: center;
    margin-bottom: 5em;
}

.library-books h2 {
    text-align: center;
}

.library-books .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.books>div {
    display: grid;
    align-content: space-between;
    width: 25%;
    padding: 5px;
    margin: 20px;
    border: 1px solid #000;
    max-height: 500px;
}


.books>div h3 {
    text-align: center;
}

.books>div h4 {
    text-align: center;
}

.books>div img {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

.library-create {
    display: grid;
    justify-content: center;
}

.library-create h2 {
    text-align: center;
}

.library-books .book {
    display: grid;
    align-content: space-between;
    width: 96.5%;
    padding: 10px;
    border: 1px solid #000;
}

.book img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.book>h3 {
    text-align: center;
}

.book>h4 {
    text-align: center;
}

#book-id {
    position: relative;
    margin: 0;
    height: 20px;
    width: 15px;
    top: 0;
    left: 97%;
}
