.poker-start {
    display: grid;
    height: 350px;
    justify-content: center;
    grid-template-columns: 60%;
    align-content: space-around;
}

.poker-start h2 {
    text-align: center;
}

.poker-start form {
    display: flex;
    justify-content: space-evenly;
}

.poker-start input {
    width: 30%;
    height: 2.5em;
    font-size: 2em;
    border: 1px solid;
    border-radius: 5%;
}

.poker {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    height: 100%;
    margin-bottom: 5em;
    overflow-y: scroll;
}

.poker::-webkit-scrollbar {
    display: none;
}

.poker>p {
    position: absolute;
    margin: 1em;
    top: 8em;
    right: 0;
}

.poker .message {
    position: fixed;
    padding: 0 5em;
    bottom: 16em;
    left: 0;
    background-color: #aeaeae;
    border: 1px solid;
}

.poker .message h3 {
    text-align: center;
    color: #000;
    text-decoration: underline;
}

.poker .message p {
    color: #000;
}

.poker .result {
    opacity: 0;
    display: grid;
    position: fixed;
    bottom: 5em;
    left: 0;
    background-color: #76c3c7;
    height: 12em;
    width: 35%;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.poker .result h2 {
    text-align: center;
}

.poker .result form {
    display: flex;
    justify-content: space-evenly;
}

.poker .result input {
    margin-bottom: 1em;
    width: 40%;
    height: 50%;
    font-size: 2em;
}

.poker .round-result {
    display: grid;
    position: fixed;
    bottom: 5em;
    left: 0;
    background-color: #76c3c7;
    height: 8em;
    width: 20%;
}

.poker .round-result h2 {
    text-align: center;
}

.poker .round-result form {
    display: flex;
    justify-content: center;
}

.poker .round-result input {
    margin-bottom: 1em;
    width: 60%;
    height: 60%;
    font-size: 2em;
}

.poker .card {
    text-align: center;
    margin: 16px;
    padding-top: 1em;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.5em;
    border: 2px solid #be3b3b;
    background-color: #fff;
    color: black;
}

.card.unknown {
    background-color: #be3b3b;
    font-size: 2.5em;
    padding-top: 0.4em;
    height: 1.7em;
    width: 1.5em;
}

.card.heart, .card.diamond {
    color: red;
}

.card.spade, .card.club {
    color: black;
}

.poker .holder {
    display: grid;
    height: 200px;
    grid-template-columns: 60%;
    justify-content: center;
    align-content: flex-start;
}

.poker .player {
    align-self: flex-end;
}

.poker .table {
    display: grid;
    height: 200px;
    justify-content: center;
    align-content: center;
}

.poker .table>p {
    text-align: center;
}

.poker .holder h3,
.poker .holder>p {
    text-align: center;
    margin-bottom: 0;
}

.poker .cards {
    display: flex;
    justify-content: center;
}

.poker>form {
    position: fixed;
    bottom: 5em;
    left: 0;
    margin: 0 -2px;
    background-color: #aeaeae;
    
}

.poker>form fieldset {
    display: grid;
}

.poker>form h3 {
    grid-column: span 4;
    margin: 1em;
    color: #000;
}

.poker>form fieldset>input {
    font-size: 1.7em;
    width: 4em;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 20%;
}

.poker>form .bet {
    grid-column: span 4;
}

.poker>form .bet>input {
    margin: 0.3em;
}

.poker>form .bet>label {
    font-size: 1.7em;
    margin-right: 0.7em;
}

