.poker-start {
    display: grid;
    height: 350px;
    justify-content: center;
    grid-template-columns: 60%;
    align-content: space-around;
}

.poker-start h2 {
    text-align: center;
}

.poker-start form {
    display: flex;
    justify-content: space-evenly;
}

.poker-start input {
    width: 30%;
    height: 2.5em;
    font-size: 2em;
    border: 1px solid;
    border-radius: 5%;
}

.poker {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    height: 100%;
    margin-bottom: 5em;
    overflow-y: scroll;
}

.poker::-webkit-scrollbar {
    display: none;
}

.poker>p {
    position: absolute;
    margin: 1em;
    top: 8em;
    right: 0;
}

.poker .card {
    text-align: center;
    margin: 0.7em;
    padding-top: 1em;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.5em;
    border: 1px solid black;
}

.poker .holder {
    display: grid;
    height: 200px;
    grid-template-columns: 60%;
    justify-content: center;
    align-content: flex-start;
}

.poker .player {
    align-self: flex-end;
}

.poker .table {
    display: grid;
    height: 200px;
    justify-content: center;
    align-content: center;
}

.poker .holder h3,
.poker .holder>p {
    text-align: center;
    margin-bottom: 0;
}

.poker .cards {
    display: flex;
    justify-content: center;
}

.poker>form {
    position: fixed;
    bottom: 5em;
    left: 0;
    margin: 0 -2px;
}

.poker>form fieldset {
    display: grid;
}

.poker>form h3 {
    grid-column: span 4;
    margin: 1em;
}

.poker>form fieldset>input {
    font-size: 1.7em;
    width: 4em;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 20%;
}

.poker>form .bet {
    grid-column: span 4;
}

.poker>form .bet>input {
    margin: 0.3em;
}

.poker>form .bet>label {
    font-size: 1.7em;
    margin-right: 0.7em;
}

