{% extends "base.html.twig" %}

{% block content %}

<div class="deck">
<h2>{{ header }}</h2>

<ul>
    {% for card in deck %}
        <li class="{{ card.getColorName() }}">{{ card.getAsString() }}</li>
    {% endfor %}
</ul>
</div>

{% endblock %}