{# templates/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ header }}</h2>
    <p>
        <a href="{{ path('deck') }}">Kortlek</a>
        <a href="{{ path('deck-shuffle') }}">Blanda kortlek</a>
        <a href="{{ path('dice-hand-home') }}">Dice Hand</a>
    </p>

{% endblock %}
