{# templates/about.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
<div class="metrics">
    <h2>{{ header }}</h2>

    <h3>Introduktion</h3>
    <p></p>
    <h3>Phpmetrics</h3>
    <p></p>
    <h3>Scrutinizer</h3>
    <p></p>
    <h3>Förbättringar</h3>
    <h4>Innan</h4>
    <p></p>
    <h4>Efter</h4>
    <p></p>
    <h3>Diskussion</h3>
    <p></p>
</div>

{% endblock %}
