{# templates/report.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ header }}</h2>

    <section>
    <h3>Kmom01</h3>
    <p>
        Jag har tidigare arbetat med objektorientering i kursen oopython. I kursen lärde jag mig om objektorienterade
        programmeringstekniker i python. Förrutom detta har jag inte riktigt några förkunskaper med objektorienterad
        programmering men jag skulle säga att jag har en god förståelse om grund tanken med objektorientering så tror
        det kommer gå hyfsat bra att lära sig använda det i PHP.
    </p>
    <p>
        PHPs modell för klasser och objekt skiljer sig inte jätte mycket från pythons som jag har skrivit i innnan.
        Den använder konstruktorer samma som python men i PHP finns också destruktorer för när objekt förstörs.
        Den använder också Docblock kommentarer, setter och getters på samma sätt som python. Liknande så kan också
        PHP klasser ha private variabler men den fungerar inte på samma sätt som python eftersom PHPs private variabler
        kan inte hämtas eller ändras från klassen utan ger då ett exception. En annan unik grej med PHPs klasser är att
        man kan använda en autoloader så att klasserna automatiskt när det behövs, man måste också använda en autoloader
        ifall man vill använda klasser i session.
    </p>
    <p>
        Kände mig ganska säker med kodbasen symfony som vi använder för report. Tyckte den påminde en hel del om Pico som
        vi använde för design kursen. Exempel koden för övningen var väldigt hjälpsam för att snabbt förstå hur symfony
        fungerade vilket gjorde att uppgiften blev allt för svårt. Har också arbetat med twig innan i Pico projektet så
        hade inte jätte svårt att lösa det. Valde att använda SASS för att skriva css koden eftersom jag har använt det
        innan och kände mig ganska bekväm med det. 
    </p>
    <p>
        Har inte hunnit läsa mycket av "PHP The Right Way" än men den delen jag läste som jag tyckte verkade mest intressant
        och användbar var nog hur man kan använda databaser med PHP. Efter jag har arbetat med databaser i tidigare kurser
        så börjar jag känna mig någonlunda bekväm med dom så det hade varit intressant att lära mig hur man koppla ihop dom
        med PHP. Såg också att man kunde använda SQLITE för att databasen vilket jag har använt innan så det kändes bra att
        man slipper lära sig något helt på nytt. Man använde också databasen på ett liknande sätt som i python med querys och
        fetchs så känns som jag börjar med en bra grundförståelse om området även om syntaxen är lite ny.
    </p>
    <p>
        Mitt TIL för detta kmomet skulle jag säga är att jag har börjat lära mig ramverket symfony vilket var ganska nytt för
        mig även om det påminde om tidigare arbeten men jag skulle säga att jag har fått en bra grundförståelse om det. Jag
        har också börjat lära mig om hur man skriver på objektorienterad sätt i PHP.
    </p>
    </section>

    <section>
    <h3>Kmom02</h3>
    <p></p>
    </section>

    <section>
    <h3>Kmom03</h3>
    <p></p>
    </section>

    <section>
    <h3>Kmom04</h3>
    <p></p>
    </section>

    <section>
    <h3>Kmom05</h3>
    <p></p>
    </section>

    <section>
    <h3>Kmom06</h3>
    <p></p>
    </section>

    <section>
    <h3>Kmom10</h3>
    <p></p>
    </section>

{% endblock %}
